@import './themes/arcane-midnight.css';
@import './themes/feywild-verdancy.css';
@import './themes/astral-ember.css';
@import './themes/void-sapphire.css';
@import './themes/relic-stone.css';
@import './themes/rainbow-unicorn.css';
@import './themes/happy-tavern.css';
@import './themes/magic-scroll.css';
@import './themes/realmic-portal.css';
@import './themes/frost-fields.css';
